@use "helpers/color" as *;
@use "helpers/text" as *;

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__heading {
    margin-bottom: 1.6rem;
  }

  &__subheading {
    margin-bottom: 4.8rem;
  }

  &__inner {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(42.6rem, 1fr));
    // column-gap: 6.5rem;
    // row-gap: 5.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 4.8rem;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 42.6rem;
    margin-bottom: 5.6rem;

    background-color: $color-white;
    border-radius: 3.2rem;
    padding: 4.8rem 3.2rem 3.2rem;
    box-shadow: 0px 8px 0px 0px rgba(169, 150, 235, 0.15);

    // убираем отступ снизу после последних 3х
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }

    &-number {
      position: absolute;
      top: -2.2rem;
      font-size: 2rem;
      line-height: 2.4rem;
      font-weight: 700;
      color: $color-main;
      padding: 1rem;
      background-color: $color-purple;
      border-radius: 1.6rem;

      display: flex;
      width: 5.2rem;
      height: 5.2rem;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-heding {
      @include heading-h4;
      color: $color-second;
      margin-bottom: 1.6rem;
    }

    &-text {
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 500;
      color: $color-text;
      text-align: center;
    }
  }
}
