$color-light-gray: #f5f5f7;
$color-white: #ffffff;

$color-main: #00d8d8;
$color-text: #000000;
$color-second: #02ff49;
$color-text-hover: #575757;
$color-light-gray: #f5f5f7;
$color-purple: #e9e6f5;
