@font-face {
  src: url(../fonts/Montserrat-Mediumr.woff) format("woff");
  font-family: "Montserrat";
  font-weight: 500;
}

@font-face {
  src: url(../fonts/Montserrat-Bold.woff) format("woff");
  font-family: "Montserrat";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-family: "Montserrat";
  font-weight: 800;
}

@font-face {
  src: url(../fonts/DrukWideCyr-Bold.woff) format("woff");
  font-family: "Druk";
  font-weight: 700;
}
