@use "helpers/color" as *;
@use "helpers/text" as *;

.calculator-block {
  // outline: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;

  @media (max-width: 1024px) {
    gap: 2rem;
  }

  @media (max-width: 768px) {
    gap: 1.6rem;
  }

  @media (max-width: 965px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  @media (max-width: 425px) {
    flex-wrap: nowrap;
  }
}

.calculator-section {
  background-color: $color-white;
  padding: 3.2rem;
  border-radius: 3.2rem;
  max-width: 33%;

  @media (max-width: 965px) {
    max-width: 100%;
  }

  @media (max-width: 425px) {
    min-width: 30rem;
  }

  @media (max-width: 375px) {
    min-width: 28rem;
  }
}

.subheading {
  @include heading-h4;
  text-align: center;
  color: $color-text;
  margin-bottom: 3.2rem;

  @media (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;

  &__range {
  }
}

.sum-input {
  margin-bottom: 1.6rem;
}

.input {
  border: 0.2rem solid $color-second;
  border-radius: 0.8rem;
  padding: 2.4rem 1.6rem 0.8rem 1.6rem;
  color: $color-text;
  @include body-copy;
}

.input-container label {
  position: absolute;
  top: 0.8rem;
  left: 1.6rem;
  pointer-events: none; /* чтобы метка не перехватывала события мыши */
  @include body-small;
  color: $color-text-hover;
}

.tab-container {
  display: flex;
  margin-bottom: 1.6rem;

  @media (max-width: 425px) {
    overflow-x: auto;
    scrollbar-width: none; /* Скрываем стандартную полосу прокрутки для Firefox */
    -ms-overflow-style: none; /* Скрываем стандартную полосу прокрутки для IE и Edge */
  }
  @media (max-width: 425px) {
    ::-webkit-scrollbar {
      display: none; /* Скрываем стандартную полосу прокрутки для WebKit */
    }
  }

  &__item {
    list-style-type: none;
    @include body-small;

    padding: 0.8rem 1.6rem;
    background-color: $color-light-gray;
    border-radius: 2.6rem;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}

.tab-active {
  background-color: $color-main;
  color: $color-white;
}

.month-input {
  margin-bottom: 1.6rem;
}

//
.slider-input {
  -webkit-appearance: none; /* Убираем стандартный стиль в Chrome и Safari */
  width: 100%; /* Ширина ползунка */
  height: 0.2rem; /* Высота ползунка */
  background: $color-main; /* Цвет фона ползунка */
  outline: none; /* Убираем контур */
  -webkit-transition: 0.2s; /* Плавный переход в Chrome и Safari */
  transition: opacity 0.2s; /* Плавный переход в других браузерах */
  border-radius: 0.5rem; /* Скругляем углы */
}

/* Изменяем цвет ползунка при его активации */
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убираем стандартный стиль в Chrome и Safari */
  width: 1.6rem; /* Ширина "бегунка" */
  height: 1.6rem; /* Высота "бегунка" */
  background: $color-main; /* Цвет "бегунка" */
  cursor: pointer; /* Изменяем курсор при наведении на "бегунок" */
  border-radius: 50%; /* Делаем "бегунок" круглым */
}

/* Изменяем цвет ползунка при его активации в Firefox */
.slider-input::-moz-range-thumb {
  width: 1.6rem; /* Ширина "бегунка" */
  height: 1.6rem; /* Высота "бегунка" */
  // background: $color-main;
  cursor: pointer;
  border-radius: 50%;
}

fieldset,
input {
  border: none;
}

::-webkit-input-placeholder {
  /* WebKit/Blink browsers */
  color: $color-text;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-text;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-text;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-text;
}

/* Убираем стандартные стрелки у input типа number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Может потребоваться изменить, в зависимости от требуемого отступа */
}
input[type="number"] {
  -moz-appearance: textfield; /* Для Firefox */
}
