@use "helpers/color" as *;
@use "helpers/text" as *;

.footer {
  background: linear-gradient(90deg, #00d8d8 0%, #02ff49 100%);
  border-radius: 3.2rem 3.2rem 0rem 0rem;

  @media (max-width: 768px) {
    border-radius: 0;
  }

  &__container {
    padding: 4.8rem 3.2rem;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav {
    min-width: 44.8rem;
    list-style-type: none;

    @media (max-width: 768px) {
      text-align: center;
    }

    @media (max-width: 1024px) {
      min-width: 24.8rem;
    }

    @media (max-width: 768px) {
      min-width: 13rem;
    }

    &:first-child {
      margin-right: 3.2rem;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 1.6rem;
      }
    }

    &:nth-child(2) {
      margin-right: 16.8rem;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 3.2rem;
      }
    }

    &-heading {
      @include heading-h4;
      color: $color-white;
      margin-bottom: 1.6rem;

      @media (max-width: 768px) {
        @include body-copy;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    &-link {
      @include body-small;
      text-decoration: none;
      color: $color-white;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;

    &-img {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &-link {
      text-decoration: none;
      color: $color-white;
      padding: 0.8rem 1.6rem;
      border: 0.2rem solid $color-white;
      border-radius: 2.6rem;
      max-width: 7.5rem;
      text-align: center;
      margin: 1.6rem 0;
    }

    &-nav {
      list-style-type: none;
    }
  }
}

.copyright {
  position: relative;
  border-top: 0.1rem solid $color-white;
  margin: 0 3.2rem;
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  &__text {
    @include body-small;
    color: $color-white;
    text-transform: uppercase;

    @media (max-width: 768px) {
      position: absolute;
      bottom: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 1.6rem;
        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 1.6rem;
        }
      }
    }

    &-link {
      @include body-small;
      text-decoration: none;
      color: $color-white;
    }
  }
}

.footer-display__wrapper {
  max-width: 1408px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.footer__nav-item-2 {
  // outline: 1px solid tomato;
  @media (max-width: 768px) {
    // display: none;
  }
}
