@use "helpers/color" as *;

.header {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(2, 255, 73, 0.5);
  padding: 1.6rem 3.2rem;
  z-index: 1;

  @media (max-width: 768px) {
    justify-content: end;
    padding: 2rem 1.5rem;
  }
  &__logo {
    margin-right: 3.2rem;
    @media (max-width: 768px) {
      margin-right: 2rem;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
    flex: 1 1 auto;
    @media (max-width: 768px) {
      display: none;
    }

    &-list {
      list-style-type: none;
    }

    &-item {
      display: inline-block;
      & :not(last-child) {
        margin-right: 1.6rem;
        @media (max-width: 768px) {
          margin-right: 1.2rem;
        }
      }
    }

    &-link {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 500;
      color: $color-white;
      text-decoration: none;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  &__login {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }

    & svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.8rem;
    }
  }
}
