@use "helpers/color" as *;

.burger-menu {
  position: relative;
  display: none;
  align-items: center;
  justify-self: end;
  top: 2.2rem;
  left: 1.5rem;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 10;

  @media (max-width: 768px) {
    display: block;
  }

  & span {
    width: 100%;
    height: 0.2rem;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  //  палки
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: $color-white;
    left: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //   переворот палок
  &.active span {
    background-color: $color-learn;
    transform: rotate(-45deg);
  }

  &.active::before {
    display: none;
  }

  &.active::after {
    background-color: $color-learn;
    transform: rotate(45deg);
    bottom: 40%;
  }

  @media (max-width: 673px) {
    // display: flex;
  }
}
